.login-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
  position: relative;
}
.login-container .logo{
  font-size: 70px;
  font-weight: bold;
  font-family: 'Creepster', cursive;
  letter-spacing: 10px;
  position: absolute;
  top: 50px;
  right: 50px;
}
.login-container .desc{
  font-size: 25px;
  font-family: 'Aladin', cursive;
  font-weight: bold;
  letter-spacing: 5px;
  position: absolute;
  top: 200px;
  right: 50px;
  text-align: right;
  width: 1000px;
}
.login-container .film{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 476px;
}
.login-form{
  width: 450px;
  height: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  right: 50px;
  box-shadow: 5px 5px 20px #383838 ;
}
.login-form .form-group{
  margin-top: 10px;
}
.login-form .form-group label{
  font-weight: bold;

}
.btn-container .btn{
  margin-top: 30px;
  width: 100%;
}
.btn-container .error{
  position: absolute;
  right: 17px;
  font-weight: 500;
  color: red;
}

@media screen and (max-width: 500px){
  .login-container .logo{
    font-size: 30px;
    left: 20px;
    top: 25px;
  }
  .login-container .desc{
    font-size: 17px;
    width: 470px;
    top: 80px;
    left: 20px;
    text-align: left;

  }
  .login-container .film{
    top: 330px;
    width: 261px;
  }
  .login-form{
    width: 430px;
    bottom: 15px;
    right: 37px;

  }
}
